<header>
  <div class="container header-container">
    <a href="/" class="logo-link">
      <div class="logo-wrapper"> <!-- Wrapper for logo and MP-061 -->
        <img src="/Images/gnhlogo.png" alt="Hospital Logo" class="logo-image">
        <span class="logo-subtext">MP-061</span> <!-- MP-061 below the logo -->
      </div>
      <h1 class="logo">Gaur Nursing Home</h1> <!-- Hospital name next to the logo -->
    </a>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li class="dropdown">
          <a href="/about.html">About Us</a>
          <div class="dropdown-content">
            <a href="/location.html">Location</a>
            <a href="/contact.html">Contact</a>
          </div>
        </li>
        <li class="dropdown">
          <a href="/departments.html">Departments</a>
          <div class="dropdown-content">
            <a href="/services/orthopaedics.html">
              <strong>Orthopaedics</strong>
            </a>
            <a href="/services/general-surgery.html">
              <strong>General Sugery</strong>
            </a>
            <a href="/services/general-medicine.html">
              <strong>General Medicine</strong>
            </a>
            <a href="/services/urology.html">
              <strong>Urology</strong>
            </a>
            <a href="/services/obstetrics-gynaecology.html">
              <strong>Obstetrics and Gynaecology</strong>
            </a>
          </div>
        </li>
        <li class="dropdown">
          <a href="/legal.html">Legal</a> <!-- New Legal Section -->
          <div class="dropdown-content">
            <a href="/Legal/BMW Annual Report 2024.pdf" target="_blank">Pollution Annual Report</a>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</header>
